<main class="index">
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">Ayala Transmisiones Automáticas</h1>
        <h3 class="mb-5"> 
            <em>Taller App </em>
        </h3>
    </div>
</header>
</main>