<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card bg-primary">
                <div class="card-body">
                    <h6>Usuario: {{ user.username }} </h6>
                </div>
                <div class="card-body text-center bg-light">
                    <h5>Bienvenid@ </h5>
                    <h5> {{ user.fullname }} </h5>
                </div>
            </div>
        </div>
    </div>
</div>