@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
.main {
    height: 100vh;
    padding: 2em;
}

body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    min-height: 200vh; 
    background-image: linear-gradient(#8685856c, #ffffff67);;
}



.masthead {
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    background: url('/img/fondoa.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}



@media (min-width: 1000px) {
    .masthead h1 {
        font-size: 3rem;
    }
}

/*formularios*/
.modal-header {
    background: darkslategrey;
    color: darkgrey;
}
.modal-body {
    background-image: linear-gradient(#8685856c, #ffffff67);;
}



/*cards */
.card-fac {
    border-style: groove;
    border-radius: 5px 5px;
    /*box-shadow: 10px 10px 5px #aaaaaa;*/
}

.card {
    background-image: linear-gradient(#8685856c, #ffffff67);;
}
.card-header {
    background: darkslategrey;
    color: darkgrey;

}


/* navegador */
.navbar {
    z-index: 100000;
    filter:alpha(opacity=70);
    -moz-opacity:.50;
    opacity:.9; 

}

.dropdown-menu {
    opacity: 0.9;
    font-size: 14px;
} 

/*estilo tabla*/
/* table th {
    background: darkgray  !important;
    colo
    table>tbody>tr>td {
    vertical-align: middle !important; 

}*/


