<script>
function comprobarClave(){
    pass1 = document.fc.password.value
    pass2 = document.f1.password2.value

    if (pass1 == pass2)
       alert("Las dos claves son iguales...\nRealizaríamos las acciones del caso positivo")
    else
       alert("Las dos claves son distintas...\nRealizaríamos las acciones del caso negativo")
}
</script>

<div class="container p-4">
    <div class="row">
        <div class="col-md-6  mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h4>Registro de Usuario</h4>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST" name="fc" class="formulario" id="formulario" >
                        <div class="mb-3">
                            <input type="text" name="fullname" placeholder="Nombre completo" class="form-control" autofocus>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="username" placeholder="Nombre de usuario" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="password" id="password" name="password" placeholder="Contraseña" class="form-control">
                        </div>
                          <div class="mb-3">
                            <input type="password" id="password2" name="password2" placeholder="Repite Contraseña" class="form-control">
                        </div>
                        <div class="mb-3">
                            <p>Tipo Usuario</p>
                            <select name="usertype" class="form-select">
                                <option value="usuario" selected>Usuario</option>
                                <option value="administrador">Administrador</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success btn-block" onClick="comprobarClave()">
                                Registrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>