<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h5>Ingreso al Sistema</h5>
                </div>
                <div class="card-body">
                    <form action="/signin" method="POST">
                        <img src="/img/logo.png" alt="Logo Taller - Ayala Transmisiones" class="card-img-top mx-auto m-2 rounded w-50 ">
                        <div class="input-group mb-3">
                            <input type="email" name="username" placeholder="Correo electronico" class="form-control">
                            <div class="input-group-text">@</div>
                            
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" name="password" placeholder="Contraseña de aplicación" class="form-control" id="password_inicio" required>
                            <button id="show_password" class="btn btn-primary" type="button" onclick="mPassword('password_inicio')"> <span class="fa fa-eye-slash password_inicio"></span> </button>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success btn-block">
                                Ingresar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>